.cal-number{
  background-color: rgb(83, 82, 82);
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 60%;
  font-weight: bold;
  font-size: large;
  border: 0px;
  cursor: pointer;
}

.cal-math-symbol{
  background-color: rgb(236, 176, 9);
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 60%;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  border: 0px;
  cursor: pointer;
}

td{
  padding: 5px;
}

.main-div{
  background-color: rgb(40, 41, 41);
  width: fit-content;
  padding: 5px;
}
